{% extends 'base.html' %}
{% load moneylinetags %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Section</th>
        <th>Description</th>
        <th>Number of Records</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="{% url 'upcoming_events' %}">Upcoming Games</a>
        </td>
        <td>
          Live betting odds
        </td>
        <td>
          {{n_events}}
        </td>
      </tr>
      <tr>
        <td>
          <a href="{% url 'betting_portfolios' %}">Portfolios</a>
        </td>
        <td>
          Betting history and performance
        </td>
        <td>
          {{n_port}}
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
